body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #4a99d3;
    margin: 0 auto;
    height: 1495px;
}

header {
    margin-bottom: 108px;
}

h1 {
    font-size: 36px;
    padding: 56px 0 43px 0;
}

h2 {
    font-size: 30px;
    padding: 36px 0;
}

.img-left-big {
    position: absolute;
    top: 20%;
    left: 10%;
}

.img-left-small {
    position: absolute;
    top: 53%;
    left: 30%;
}

.img-right {
    position: absolute;
    top: 40%;
    left: 50%;
}

.container {
    width: 695px;
    margin: 0 auto;
}

main {
    width: 799px;
    background-color: #213f64;
    opacity: 90%;
    margin: 0 auto;
    padding: 0 auto;
    vertical-align: middle;
    position: relative;
}

.container-img {
    position: absolute;
    top: -3%;
    left: 84%;
}

.container-icons {
    position: relative;
    right: 13%;
}

.container__desc-1 p:not(:last-of-type) {
    margin-bottom: 26px;
}

.container__desc-2 p:not(:last-of-type) {
    margin-bottom: 29px;
}

.container__desc-2 {
    margin-bottom: 154px;
}

.container__pics {
    display: inline-block;
    margin-bottom: 168px;
}

div img:not(:last-of-type) {
    padding-right: 15px;
}

footer {
    background-image: url(../images/grass.png);
    position: absolute;
    height: 125px;
    background-repeat: repeat;
    width: 100%;
    top: 188%;
}
