body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    background-color: #fffcfce9;
    margin: 0;
    padding: 0;
}

h2 {
    text-transform: capitalize;
    color:black;
}

main {
    margin: 250px 90px;
}

.section {
    display: inline-block;
    border: 1px solid #cfcaca;
    border-radius: 15px;
    text-align: center;
    background-color: #fff;
    color: #838080;
    margin-right: 30px;
    padding: 10px 40px;
    line-height: 30px;
}
