body {
    background-color: #FFFAF3;
}

li.menu__item {
    font-family: 'Open Sans';
    font-size: 20px;
}

.menu-box {
    width: 470px;
    border-bottom: 1px solid #C08D5D;
    padding: 44px 0;
}

.menu__item {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
}

.menu__item-selected {
    color: #C08D5D;
}

.menu__item-selected::before {
    color: #C08D5D;
    content: url(../images/logo.svg);
    vertical-align: middle;
    margin-right: 84px;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.container__title h1,
.container__title h2 {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 50px;
    line-height: 81px;
    letter-spacing: 0.06em;
    color: #3F4042;
}

.container__title h2 {
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 70px;
}

.container__title h2::after {
    display: block;
    content: url(../images/vector.svg);
}

.container__title {
    width: 535px;
    margin-bottom: 27px;
    padding-top: 138px;
}

.container__title p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.06em;
    color: #3F4042;
    margin-bottom: 72px;
}

.button {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    display: inline-block;
    border: 2px solid #C08D5D;
    background-color: #FFFAF3;
    color: rgba(63, 64, 66, 1);
    padding-left: 12px;
}

.button::after {
    display: inline-block;
    content: "\21C0";
    color: #fff;
    border-left: 2px solid #C08D5D;
    background-color: #C08D5D;
    padding: 16px 19px 13px 20px;
    margin-left: 9px;
}

.container-food {
    background-image: url(../images/food.png);
    position: absolute;
    width: 660px;
    min-height: 100vh;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
}

.container-icon {
    text-align: center;
}
